body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#C1DDD8;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header{
  background-color: #F5E4DC;
  height: 200px;
  font-size: 100px;
  justify-self: center;
  text-align: center;
}
.postImage {
  height: 300px;
  width: 250px;
  
}

.postImageForMessage {
  height: 400px;
  width: 350px;
  justify-content: center;
}

.nav-logo{
  height: 50px;
  width: 50px;
}

.received {
  background-color: #F2C2C2;
}

.sent {
  background-color: #9EC4C5;

}
.goBack{
  margin: 1rem 0 0 1rem;
}
.message-container{
  margin: 3rem 0 0 2rem;
}

.Rmessage{
  margin-left: 5%;
  background-color:#F2C2C2;
  width:400px;
  padding:10px;
  border-radius:15px;
  border-bottom-left-radius:0px;
  margin-top: 1%;
}

.Smessage{
  margin-left: 5%;
  background-color:#9EC4C5;
  width:400px;
  padding:10px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  margin-top: 1%;
}

.messageCurlHolder{
  margin-left: 5%;
}

.convoList{
  margin-top: 11rem;
}
.convoListCard{
  margin-bottom: 2rem;
  font-size: large;
  border: solid #9EC4C5 5px;
}

.convo-cards {
 
  height: 675px;
  overflow: scroll;
}
/* 
.messageCurl{
  width:10px;
  height:10px;
  background-color:#F2C2C2;
  border-bottom-right-radius: 5px 5px;
} */


/* .messageCurlCover{
  margin-left: 2%;
  content: "";
  margin:-5px;
  margin-left:0px;
  width:20px;
  height:20px;
  border-radius: 50%;
  background-color: #F2C2C2;
}
 */




.card-date{
  font-size: 25px;
}

.card-name{
  font-size:35px;
} 


.message-container-cards{
  padding: 10px;
  padding-left: 0px;
  width: 33em;
  margin-left: 36%;
  background-color: white;
  border-radius: 10px;
  margin-top: 2em;
}
.chat-input{
  width: 33em;
  margin-left: 2%;
  
}


.register {
  
  margin-bottom: 3rem;
}