body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#C1DDD8;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mylist, .postlist{
  margin: 3rem;
}

.newPost, .editPost, .detailsPost{
  border: solid 15px #F2C2C2;
  padding: 0 0 4rem 0;
}

.newPost-header, .editPost-header, .detailsPost-header{
  /* margin: 1rem 0 3rem 0; */
  padding: 2rem;
  background-color: #F2c2c2;
}

.newPost-form, .editPost-form{
  margin: 0 1rem 1rem 1rem;
}
.newPost-cancel, .editPost-cancel, .detailsPost-message{
  margin-left: 1rem;
}
.detailsPost-card{
  background-color: #C1DDD8 ;
  border: 0 solid #C1DDD8;
}

.imageInput{
  margin-left: 7rem;
}
.header{
  background-color: #F5E4DC;
  height: 200px;
  
  text-align: center;
 
  /* background-image: url("../src/images/clothesStack.jpg"); */
}
.postImage {
  height: 300px;
  width: 250px;
  object-fit: cover;
  
}

.postImageForMessage {
  height: 400px;
  width: 350px;
  justify-content: center;
}

.nav-logo{
  height: 50px;
  width: 50px;
}

.received {
  background-color: #F2C2C2;
}

.sent {
  background-color: #9EC4C5;

}
.goBack{
  margin: 1rem 0 0 1rem;
}
.message-container{
  margin: 3rem 0 0 2rem;
}

.Rmessage{
  margin-left: 5%;
  background-color:#F2C2C2;
  width:400px;
  padding:10px;
  border-radius:15px;
  border-bottom-left-radius:0px;
  margin-top: 1%;
}

.Smessage{
  margin-left: 5%;
  background-color:#9EC4C5;
  width:400px;
  padding:10px;
  border-radius:15px;
  border-bottom-right-radius:0px;
  margin-top: 1%;
}

.messageCurlHolder{
  margin-left: 5%;
}

.convoList{
  margin-top: 11rem;
}
.convoListCard{
  margin-bottom: 2rem;
  font-size: large;
  border: solid #9EC4C5 5px;
}

.convo-cards {
 
  height: 675px;
  overflow: scroll;
}


.message-container-cards{
  padding: 10px;
  padding-left: 0px;
  width: 33em;
  margin-left: 36%;
  background-color: white;
  border-radius: 10px;
  margin-top: 2em;
}
.chat-input{
  width: 33em;
  margin-left: 2%;
  
}

.filterButton{
  margin-top:  1rem;
} 
.resetButton{
  margin-left: 1rem;
  margin-top:  1rem;

}
.register {
  
  margin-bottom: 3rem;
}

